<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>About</h1>
            <%=image_tag "green_kjkp.png", alt: "Know Justice, No Peace banner", class: "img-fluid py-3" %>
            <p>In this clip, you can see George Floyd’s daughter saying, "Daddy changed the world." He absolutely did. We were inspired by him and everyone else who has suffered to create the KNOW Systemic Racism project.</p>
            <p>As Barack Obama said in response, "Yes, he did. Yes, we can."</p>
        </div>
        <div class="col-6">
            <h2>How it all began...</h2>
            <p>The KNOW Systemic Racism project is a follow up to a statement of solidarity and support against systemic racism published by Stanford Libraries over the summer of 2020. "Making this statement reaffirming our commitment to racial justice, equity and diversity were extremely important to us. We feel compelled for the Stanford Libraries to engage directly with recent events," said Michael Keller, Vice Provost and University Librarian.</p>
            <p>"The KNOW Systemic Racism project is just one of the great ideas proposed by library staff, so I am pleased with the team effort mounting this first exhibition in a timely fashion relative to the rise of Black Lives Matter protests and the atrocities against Black Americans that extend back to the founding of this nation."</p>
            <p>The concept for the exhibit was developed by Felicia A. Smith, who has published articles promoting racial literacy as well as feature stories that explore various narratives of people of color. She says the KNOW Systemic Racism project was her response to the repeated claims by high ranking government officials that "Systemic racism does not exist, especially not in policing." These statements were especially frustrating because they were made in response to questions raised following the deaths of George Floyd, Ahmaud Arbery and Breonna Taylor.</p>
            <p>Coming soon ... more topics covering wealth, policing and the criminal justice system, banking, employment, housing, health care, media, military, politics, science, voting rights, education and the environment.</p>
            <p>The KNOW Systemic Racism project was launched simultaneously as the <%=link_to 'Say Their Names – No More Names Exhibit.', "https://exhibits.stanford.edu/saytheirnames"%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cjGTqHFVp3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <%=image_tag "georgefloyd.png", alt: "George Floyd", class: "pb-4 img-fluid"%>
        </div>
    </div>
    <div class="rows">
        <div class="col-12">
            <p class="strong">Disclaimer: Veracity of findings</p>
            <p class="small">While the data have been selected based on credibility of sources known for accuracy, the KNOW Systemic Racism project (KSR) disclaims any responsibility for the accuracy or correctness of the data.  All information in the KSR site is presented without any representation, guaranty, or warranty whatsoever regarding the accuracy, relevance, or completeness of the information.  Inclusion in KSR does not equal endorsement. Please note that users of this KSR site are responsible for independently verifying any and all information. The inclusion of links from this site does not imply endorsement or support of any of the linked information, services, products, or providers.</p>
        </div>
    </div>
</div>
