<div class="container">
    <div class="row pb-4">
        <h1>Explore Connections</h1>
        <p>These visualizations show connections between instances where Black people were killed by police between 2009 and 2018 across the counties of San Francisco, Alameda, Contra Costa, Solano, and Sacramento.</p>
    </div>
    <div class="row pb-4">
        <p>The <strong>first visualization</strong> below shows connections between the victims of this police violence and the people, organizations, and locations involved in their lives and deaths.</p>
        <%= image_tag('linkurious1.png', class: "img-fluid pt-2", alt: "linkurious") %>
     </div>
    <div class="row pb-4">
        <p>The <strong>second visualization</strong> below shows connections between the documents involved in these instances of police violence, such as training manuals used by the involved law enforcement agencies, state legislation affecting police policy, and investigations into deaths at the hand of law enforcement.</p>
        <%= image_tag('linkurious2.png', class: "img-fluid pt-2", alt: "linkurious") %>
    </div>
</div>
