<div class="container">
    <div class="row pb-4">
        <h1>Explore Connections</h1>
        <p>These visualizations contextualize fatal encounters between Black people and police from 2009 to 2018 in San Francisco, Alameda, Contra Costa, Solano, and Sacramento counties. The first visualization shows connections between the people, organizations, and locations involved in fatal encounters with police. The second visualization shows connections between a collection of documents relevant to these fatal encounters, such as training manuals used by the law enforcement agencies involved, state legislation affecting police policy, and investigations into deaths at the hand of law enforcement.</p>
    </div>
    <div class="row pb-4">
        <iframe src="https://ksr-linkurious.stanford.edu/widget/04520199"
                           width="100%"
                           height="330"
                           frameborder="0"
                           webkitallowfullscreen
                           mozallowfullscreen
                           allowfullscreen></iframe>
        <p>
        <a href="https://ksr-linkurious.stanford.edu/widget/04520199" target="_blank">Full screen view</a>
        </p>
     </div>
    <div class="row pb-4">
        <iframe src="https://ksr-linkurious.stanford.edu/widget/1719ec66"
                           width="100%"
                           height="330"
                           frameborder="0"
                           webkitallowfullscreen
                           mozallowfullscreen
                           allowfullscreen></iframe>
        <p>
        <a href="https://ksr-linkurious.stanford.edu/widget/1719ec66" target="_blank">Full screen view</a>
        </p>
    </div>
    <div class="row pb-4">
        <h2>How did we choose these data?</h2>
        <p>Our goal with this project is to expose the systemic racism underlying fatal encounters between Black people and the police. Libraries and archives collect, organize, preserve, and provide access to records. The information systems that govern these activities aid discovery in some ways, but they also perpetuate systems of power and control by abstracting events and dehumanizing the actions. With these graph visualizations, we are attempting to break the mold of discovery based on records alone by linking those documents to the people, events, and places involved. By connecting these records to specific people, places and dates, we are attempting to humanize the harm and show the injury of racism that is lost in our formal systems of records and documentation.</p>
        <p>The records (still in process):</p>
        <ul>
            <li>California Law Enforcement Agency Policy and Training Manuals</li>
            <li>California State Legislation which affects Law Enforcement Agencies</li>
            <li>Studies</li>
            <li>Public Reports of Investigations into Police Killings</li>
        </ul>
        <p>We then connect those records to people, events, and places based on the following:</p>
         <ul>
            <li>A focus on Black people killed at the hands of police and their lives and legacies</li>
            <li>Inclusion of law enforcement agencies and personnel directly involved in brutality against Black people (such as those who pulled the trigger in someone's death)</li>
            <li>Inclusion of law enforcement agencies and personnel indirectly involved in brutality against Black people, but in a quantifiable way (such as those who were present when someone was murdered by their peers, those who were involved in investigations into police brutality, and police chiefs who oversaw departments committing police brutality)</li>
            <li>Inclusion of individuals who performed investigations into police violence</li>
            <li>Inclusion of individuals who were investigated as part of investigations into police violence</li>
            <li>Inclusion of protests covered by mainstream local news sources organized in response to individual incidents of police violence</li>
            <li>Inclusion of lawsuits filed in response to police violence</li>
            <li>Inclusion of murder, manslaughter, and misconduct charges brought against police officers</li>
            <li>Exclusion of identifying information such as involved family members and contact information in order to respect individual privacy rights</li>
        </ul>
        </p>
    </div>
</div>
