<div class="row p-3">
    <div class="col-8">
        <div class="row">
            <div class="col">
                <h1>Housing</h1>
                <div class="row">
                    <div class="col">
                        <h2>Redlining</h2>
                        <%=image_tag 'san-fran-redlining-small.jpg', alt: "housing", class: "img-fluid" %>
                        <p><%=link_to 'Learn about', "https://www.kcet.org/shows/city-rising/how-prop-14-shaped-californias-racial-covenants"%> how Prop 11 shaped Calfornia's Racial Covenants, learn <%=link_to 'more about redlining and examine scans', "https://dsl.richmond.edu/panorama/redlining/?text=intro#loc=5/39.1/-94.58&text=intro"%> and then examine historical redlining maps of the San Francisco Bay Area <%=link_to 'overlaid on current maps', "https://joshbegley.com/redlining/bayarea"%>.</p>
                    </div>
                    <div class="col">
                        <h2>Latest News</h2>
                        <p>San Francisco Chronicle, reports, "California is trying to remove racist rules from housing documents. But we need to do more." This year, California Assembly members Kevin McCarty, D-Sacramento; Autumn Burke, D-Los Angeles; David Chiu, D-San Francisco; and state Sen. Scott Wiener, D-San Francisco will introduce legislation that removes racial covenants from deeds whenever the property is transferred or sold. "Eliminating these housing covenants is a moral right and an important step in bringing racial justice to Californians," McCarty said in a statement on Monday, August 3rd, 2021.</p>
                    </div>
                </div>
                <h2>Latest research</h2>
                <div class="row">
                    <div class="col">
                        <p class="quote">Kardile, Tanvi. "Systemic racism is not a political question: Welfare programs do not provide enough support for Black Americans—as demonstrated through analyzing racial disparities in COVID-19 mortality rates in the “safe haven” blue state of California." (2020).</p>
                    </div>
                     <div class="col">
                        <p>Coronavirus (COVID-19) has resulted in hundreds of millions of cases and millions of deaths worldwide, hitting the entire world at an unprecedented rate, resulting in a global pandemic. The country is on a heightened sense of tension and unrest due to this pandemic. On top of COVID-19, there have also been racial tensions as well. The Black Lives Matter (BLM) movement has taken the country by storm, spurring protests about racial inequalities, particularly as a result of police brutality, the black community faces. A closer look at the two show that COVID-19 and racial inequalities are intertwined. Black people face a higher death rate from COVID-19 as a result of systemic racism.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h2>Resources</h2>
        <h3>Census data</h3>
        <p>The Census Bureau’s housing data present a comprehensive picture of housing in America. You’ll find a wide range of data on the size, age and type of American homes; home values, rents and mortgages, the housing and construction industry, and more.</p>
        <h3>Oakland Housing Authority</h3>
        <p>The Oakland Housing Authority is monitoring information provided by our public health officials as concern grows over the spread of Coronavirus (COVID-19).</p>
        <h3>Fair Housing Non-Profit</h3>
        <p>The Fair Housing Foundation actively supports and promotes freedom of residence through education, advocacy, and litigation, to ensure that all persons have the opportunity to secure safe and decent housing that they desire and can afford, without regard to their race, color, religion, gender, sexual orientation, national origin, familial status, marital status, disability, ancestry, age, source of income or other characteristics protected by laws.</p>
        <h3>California Housing and Urban Development (HUD)</h3>
        <p>For questions about FHA loans or programs, contact our FHA Resource Center. For questions about HUD rental programs, including Housing Choice (Section 8) Vouchers, contact our Public and Indian Housing (PIH) Information Resource Center.</p>
        <h3>Life Moves</h3>
        <p>LifeMoves has the expertise to rapidly return people to stable housing, but a solution to homelessness requires all of us. We need your help to confront the homelessness crisis in our community.</p>
        <h3>Public records</h3>
        <p>Any person has the right to access public records maintained by government agencies, including the Department of Housing and Community Development (HCD). As the Legislature stated in enacting the California Public Records Act, "access to information concerning the conduct of the people's business is a fundamental and necessary right of every person in this state." HCD's access to public records rest on that principle.</p>
    </div>
</div>
