<div class="row p-3">
    <div class="col-8">
        <div class="row">
            <div class="col">
                <h1>Policing</h1>
                <div class="row">
                    <div class="col">
                        <h2>Latest News</h2>
                        <p>NBC Bay Area News reports, "San Francisco Police Won't Respond to Non-Criminal Calls." San Francisco officers will stop responding to non-criminal activities such as disputes between neighbors, reports about homeless people and school discipline interventions as part of a police reform plan the mayor announced Thursday. Mayor London Breed said in a news release that on calls that don’t involve a threat to public safety, officers would be replaced by trained, unarmed professionals to limit unnecessary confrontation between the police department and the community. Published June 11, 2020 • Updated on June 12, 2020</p>
                    </div>
                </div>
                <h2>Latest research</h2>
                <h3>Giwa, Sulaimon, and Michael Connors Jackman. "Missing Persons Investigation and Police Interaction with Racialized People who Identify as LGBTQ2S." (2020).</h3>
                <div class="row">
                    <div class="col">
                        <p>In the wake of multiple murders of mostly gay men of colour with links to Toronto lesbian, gay, bisexual, trans*, two-spirit, and plus (LGBTQ2S+) communities, there is a reckoning coming over the length of time it took for the Toronto police to apprehend the killer and ensure public safety. The killer roamed free for seven years (between 2010 and 2017). Among members of Toronto LGBTQ2S+ communities, a deep concern revealed by this tragic event has to do with the manner with which the police conducted its investigations into the men’s disappearances and their untimely death. This concern, among others that include the perception of systemic bias in police investigations related to racialized LGBTQ2S+ and marginalized or vulnerable communities, prompted the Independent Civilian Review into Missing Persons Investigations to be formed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h2>Resources</h2>
        <h3>Mapping Police Violence</h3>
        <p>Compiling information from media reports, obituaries, public records, and databases like Fatal Encounters and the Washington Post, this report represents the most comprehensive accounting of deadly police violence in 2017.</p>
        <h3>MY90</h3>
        <p>This site’s goal is to improve equity, inclusion and performance using data and technology. We work with a wide range of partners on use cases that include police contact, diversity recruiting, and stakeholder engagement.</p>
        <h3>Silicon Valley Debug</h3>
        <p>A community organizing, advocacy, and a multimedia storytelling organization based out of San Jose, California. </p>
        <h3>Stanford University’s Center for Racial Justice</h3>
        <p>Our faculty and students continue to shape law and policy and influence the national debate through scholarship, thought leadership, programming, and events across a broad range of areas.</p>
        <h3>Stanford University’s Center for Human Rights and International Justice</h3>
        <p>We have worked with and/or at the Supreme Court of the Philippines, the Special Court for Sierra Leone, the Special Panels for Serious Crimes in Timor-Leste, the Extraordinary Chambers in the Courts of Cambodia, the International Criminal Tribunals for Former Yugoslavia and Rwanda, and the International Criminal Court.</p>
        <h3>ACLU Northern California</h3>
        <p>We make sure that Constitutional rights - to free speech, to privacy, to due process - don't just exist on paper, but also in practice." <%=link_to 'https://www.aclunc.org/home', "https://www.aclunc.org/home"%></p>
        <h3>Police Training Manuals</h3>
        <p>The first KSR dataset consists of 460 California Law Enforcement Agency Policy and Training Manuals: <%=link_to 'https://www.eff.org/sb978-Apr2021', "https://www.eff.org/sb978-Apr2021"%>.  These police manuals are publicly accessible through our Digital Repository to a comma delimited .csv file containing the name, agency type, city, county, and URLs at <%=link_to 'https://purl.stanford.edu/yf700bp8218',"https://purl.stanford.edu/yf700bp8218"%>. This collection is valuable for data mining, tracking reforms and epowering civilians to identify police misconduct as expressed in their written procedures. The KSR's police collection is being duplicated by Howard University’s Law Library which is just one of our partners at HBCUs (Historically Black Colleges and Universities).</p>
    </div>
</div>
