
<nav class="navbar navbar-expand-md">
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <% {housing: "Housing", policing: "Policing", involved: "Get Involved"}.each do |page, label|
                classes = ['nav-link']
                classes << 'active' if label == @page_name
            %>
                <li class="nav-item">
                    <%=link_to label, page, class: classes.join(' ')%>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
